# --- ELIXIR ---
/balordi_finance_server/_build
/balordi_finance_server/deps
/balordi_finance_server/*.beam
/balordi_finance_server/erl_crash.dump
/balordi_finance_server/.elixir_ls/

# --- GO ---
# Binari compilati
/balordi_finance_ingestor/*.exe
/balordi_finance_ingestor/*.exe~
/balordi_finance_ingestor/*.dll
/balordi_finance_ingestor/*.so
/balordi_finance_ingestor/*.dylib

# --- REACT / NODE ---
/balordi_ui/node_modules/
/balordi_ui/npm-debug.log*
/balordi_ui/yarn-debug.log*
/balordi_ui/yarn-error.log*
/balordi_ui/build
/balordi_ui/.env
/balordi_ui/.env.local
/balordi_ui/.env.development.local

# --- VARIE ---
.DS_Store
Thumbs.db
data/